---
import { Icon } from 'astro-icon/components';
import Logo from '~/components/Logo.astro';
import ToggleMenu from '~/components/common/ToggleMenu.astro';
import Button from '~/components/ui/Button.astro';

import { getHomePermalink } from '~/utils/permalinks';
import { trimSlash } from '~/utils/permalinks';
import type { CallToAction } from '~/types';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface MenuLink extends Link {
  links?: Array<MenuLink>;
}

export interface Props {
  id?: string;
  links?: Array<MenuLink>;
  actions?: Array<CallToAction>;
  isSticky?: boolean;
  isDark?: boolean;
  isFullWidth?: boolean;
  showToggleTheme?: boolean;
  showRssFeed?: boolean;
  position?: string;
}

const { id = 'header', links = [], actions = [], isSticky = false, isDark = false } = Astro.props;

const currentPath = `/${trimSlash(new URL(Astro.url).pathname)}`;
---

<header
  class:list={[
    { sticky: isSticky, relative: !isSticky, dark: isDark },
    'top-0 z-40 flex-none mx-auto w-full border-b border-gray-200 dark:border-gray-800 bg-white dark:bg-slate-900 shadow-sm',
  ]}
  {...isSticky ? { 'data-aw-sticky-header': true } : {}}
  {...id ? { id } : {}}
>
  <div class="absolute inset-0"></div>
  <div class="relative text-default py-3 px-3 md:px-6 lg:px-8 mx-auto w-full max-w-7xl">
    <div class="flex justify-between items-center w-full">
      <a class="flex items-center" href={getHomePermalink()}>
        <Logo />
      </a>

      <div class="flex items-center lg:hidden">
        <ToggleMenu />
      </div>

      <nav
        data-aw-nav
        class="items-center w-full lg:w-auto hidden lg:flex lg:absolute lg:left-1/2 lg:-translate-x-1/2 text-default overflow-y-auto overflow-x-hidden lg:overflow-y-visible lg:overflow-x-auto"
        aria-label="Main navigation"
      >
        <ul
          class="flex flex-col lg:flex-row w-full lg:w-auto text-xl lg:text-[0.9375rem] tracking-[0.01rem] font-medium"
        >
          {
            links.map(({ text, href, links }) => (
              <li class={links?.length ? 'dropdown' : ''}>
                {links?.length ? (
                  <>
                    <button
                      type="button"
                      class="hover:text-link dark:hover:text-white px-4 py-3 flex items-center whitespace-nowrap"
                    >
                      {text}{' '}
                      <Icon
                        name="tabler:chevron-down"
                        class="w-3.5 h-3.5 ml-0.5 rtl:ml-0 rtl:mr-0.5 hidden lg:inline"
                      />
                    </button>
                    <ul class="dropdown-menu lg:backdrop-blur-md dark:lg:bg-dark rounded lg:absolute pl-4 lg:pl-0 lg:hidden font-medium lg:bg-white/90 lg:min-w-[200px] drop-shadow-xl">
                      {links.map(({ text: text2, href: href2 }) => (
                        <li>
                          <a
                            class:list={[
                              'first:rounded-t last:rounded-b lg:hover:bg-gray-100 hover:text-link dark:hover:text-white dark:hover:bg-gray-700 py-2 px-5 block whitespace-no-wrap',
                              { 'aw-link-active': href2 === currentPath },
                            ]}
                            href={href2}
                          >
                            {text2}
                          </a>
                        </li>
                      ))}
                    </ul>
                  </>
                ) : (
                  <a
                    class:list={[
                      'hover:text-link dark:hover:text-white px-4 py-3 flex items-center whitespace-nowrap',
                      { 'aw-link-active': href === currentPath },
                    ]}
                    href={href}
                  >
                    {text}
                  </a>
                )}
              </li>
            ))
          }
        </ul>
      </nav>

      {
        actions?.length ? (
          <div class="hidden lg:flex items-center" data-aw-header-actions>
            {actions.map((btnProps) => (
              <Button {...btnProps} class="py-2.5 px-6 font-semibold shadow-lg text-sm" />
            ))}
          </div>
        ) : null
      }
    </div>
  </div>
</header>
