---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { getStaticPathsFrenchBlogTag } from '~/utils/blog-fr';

import PageLayoutFr from '~/layouts/PageLayoutFr.astro';
import ListFr from '~/components/blog/ListFr.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsFrenchBlogTag({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page, tag } = Astro.props as Props;

const currentPage = page.currentPage ?? 1;

const metadata = {
  title: `Articles avec l'étiquette « ${tag.title} »${currentPage > 1 ? ` — Page ${currentPage} ` : ''}`,
  description: `Parcourez tous les articles avec l'étiquette ${tag.title.toLowerCase()}. Trouvez des guides Wealthsimple, des conseils d'investissement et plus encore.`,
  robots: {
    index: true,
    follow: true,
  },
};
---

<PageLayoutFr metadata={metadata}>
  <section class="px-4 md:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline>Étiquette : {tag.title}</Headline>
    <ListFr posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</PageLayoutFr>
